{% extends 'base.html' %}

{% block title %}Редакция на наличност | PlatePlotter{% endblock %}

{% block content %}
<h1 class="mb-4">Редакция на наличност</h1>

<div class="card">
    <div class="card-body">
        <p><strong>Продукт:</strong> {{ product }}</p>
        <p>
            <strong>Мерна единица:</strong>
            {% if product.unit == "g" %}g{% else %}бр.{% endif %}
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-warning">Запази</button>
            <a href="{% url 'inventory-list' %}" class="btn btn-secondary">Отказ</a>
        </form>
    </div>
</div>
{% endblock %}