{% extends 'base.html' %}

{% block title %}{{ product }} | PlatePlotter{% endblock %}

{% block content %}
<h1 class="mb-4">{{ product }}</h1>

<div class="card">
    <div class="card-body">

        <p><strong>Продукт:</strong> {{ product.name }}</p>

        <p><strong>Марка:</strong>
            {{ product.brand|default:"-" }}
        </p>

        <p><strong>Категория:</strong>
            {{ product.get_category_display }}
        </p>

        <p><strong>Мерна единица:</strong>
            {{ product.get_unit_display }}
        </p>

        <hr>

        <h5 class="mt-3">Макроси / 100g</h5>

        <p><strong>Калории:</strong> {{ product.calories_per_100 }}</p>
        <p><strong>Белтъчини:</strong> {{ product.protein_per_100 }}</p>
        <p><strong>Въглехидрати:</strong> {{ product.carbs_per_100 }}</p>
        <p><strong>Мазнини:</strong> {{ product.fat_per_100 }}</p>

        <hr>

        <p><strong>Основен продукт:</strong>
            {% if product.is_basic %}
                Да
            {% else %}
                Не
            {% endif %}
        </p>

    </div>
</div>

<div class="mt-3">
    <a href="{% url 'product-edit' product.pk %}" class="btn btn-warning">Редакция</a>
    <a href="{% url 'product-delete' product.pk %}" class="btn btn-danger">Изтрий</a>
    <a href="{% url 'product-list' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}