{% extends 'base.html' %}

{% block title %}Изтрий продукт | PlatePlotter{% endblock %}

{% block content %}
<h1 class="mb-4">Изтрий продукт</h1>

<div class="card">
    <div class="card-body">
        <p>
            Сигурен ли си, че искаш да изтриеш
            <strong>{{ object }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да, изтрий</button>
            <a href="{% url 'product-list' %}" class="btn btn-secondary">Отказ</a>
        </form>
    </div>
</div>
{% endblock %}