{% extends 'base.html' %}

{% block title %}Редакция на ястие | PlatePlotter{% endblock %}

{% block content %}
<h1 class="mb-4">Редакция на ястие</h1>

<div class="card">
    <div class="card-body">

        <p><strong>Ястие:</strong> {{ object.name }}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-warning">Запази</button>
            <a href="{% url 'dish-detail' object.pk %}" class="btn btn-secondary">Отказ</a>
        </form>

    </div>
</div>
{% endblock %}